@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    background-color: lightslategray;
}

li,a ,button{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    background-color: slategray;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color:slategray;
}

.nav__logo{   /* Main Logo */
    width: 100px;
    height: 100px;
    cursor:pointer;
    border-radius: 100px;
}

.nav__links {
    list-style: none;
    background-color: slategray;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color:#edf0f1;
}

button{
    padding: 9px 18px;
    background-color:darkslategray;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin: -15px;
}

button:hover{
    background-color:slategray;
}

